# Multiple Linear Regression- Car dataset

## Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Importing the dataset

In [2]:
dataset = pd.read_csv('CAR.csv')

In [3]:
dataset.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4337 entries, 0 to 4336
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           4337 non-null   int64
 1   selling_price  4337 non-null   int64
 2   km_driven      4337 non-null   int64
 3   fuel           4337 non-null   object
 4   seller_type    4337 non-null   object
 5   transmission   4337 non-null   object
 6   owner          4337 non-null   object
dtypes: int64(3), object(4)
memory usage: 237.3+ KB

### Split the dataset into independent and Dependent variables

In [5]:
# We want to predict selling_price
X = dataset.drop('selling_price', axis = 1)
y = dataset[['selling_price']]

In [6]:
X.head()

   year  km_driven    fuel seller_type transmission         owner
0  2007      70000  Petrol  Individual       Manual   First Owner
1  2007      50000  Petrol  Individual       Manual   First Owner
2  2012     100000  Diesel  Individual       Manual   First Owner
3  2017      46000  Petrol  Individual       Manual   First Owner
4  2014     141000  Diesel  Individual       Manual  Second Owner

In [7]:
y.head()

   selling_price
0          60000
1         135000
2         600000
3         250000
4         450000

### Work with the catagorical data

In [8]:
X.columns

Index(['year', 'km_driven', 'fuel', 'seller_type', 'transmission', 'owner'], dtype='object')

In [9]:
X = pd.get_dummies(dataset[['year', 'km_driven', 'fuel', 'seller_type', 'transmission', 'owner']],
                  drop_first = True)

In [10]:
X.head()

,year,km_driven,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2007,70000,0,0,0,1,1,0,1,0,0,0,0
1,2007,50000,0,0,0,1,1,0,1,0,0,0,0
2,2012,100000,1,0,0,0,1,0,1,0,0,0,0
3,2017,46000,0,0,0,1,1,0,1,0,0,0,0
4,2014,141000,1,0,0,0,1,0,1,0,1,0,0

## Splitting the dataset into the Training set and Test set
- Random State 20

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 20)

## Training the Multiple Linear Regression model on the Training set

In [12]:
from sklearn.linear_model import LogisticRegression
regressor = LogisticRegression(max_iter=1000)
regressor.fit(X_train.values, y_train.values.ravel())

/Users/liezel/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=1000)

## Intercept and Coefficient

In [13]:
print("Coefficients", regressor.coef_)
print("Intercept", regressor.intercept_)

Coefficients [[ 5.71221555e-05 -2.47076857e-05 -2.31476825e-07 ...  6.14224986e-07
  -1.15580070e-08 -1.25193380e-08]
 [-3.58397606e-04  6.37659462e-06 -3.29611080e-07 ... -1.43485547e-07
  -9.28116078e-09  6.83878305e-07]
 [-6.63532509e-04  2.00434233e-05 -4.15109879e-07 ... -1.91471324e-07
  -7.97627744e-09  6.70398408e-07]
 ...
 [-9.21707870e-04  2.98267026e-05  2.13014853e-07 ... -2.38224254e-07
  -7.07268768e-09 -5.24441617e-08]
 [ 7.88334625e-04 -1.01790666e-04  6.04894103e-07 ... -4.45526262e-08
  -1.59142119e-08 -2.66053058e-09]
 [ 4.25238634e-04 -6.89851133e-05 -1.57737171e-07 ... -6.23889052e-08
  -1.40320949e-08 -5.43213095e-09]]
Intercept [ 3.20913148e-08 -1.72594629e-07 -3.25694763e-07 -4.82893009e-08
 -5.43281822e-07  2.37793697e-07 -4.02480320e-07 -6.06022968e-07
  2.79709048e-07 -2.40595562e-07 -1.19883269e-08 -3.48235819e-07
  4.49849121e-08  2.58616202e-07 -4.76265355e-07 -1.33325650e-07
  2.07453754e-07  2.33441244e-07 -4.02783434e-07 -3.03517242e-08
 -5.55787987e-07 -6.27937753e-07  2.10423020e-07  6.92377616e-08
 -1.14486290e-07 -3.19244524e-07  1.93179701e-07 -7.20177853e-07
 -4.76678515e-07 -4.19226973e-07  3.22899553e-07 -4.99447859e-07
  1.11430316e-07 -5.57908029e-08 -4.78421652e-07 -1.02531646e-06
 -1.44681723e-08  4.78903672e-07 -4.98932622e-07 -2.31943113e-08
 -2.74991031e-07 -4.30006252e-07  3.78596433e-07  5.64310226e-08
 -2.63923452e-07  2.87024160e-07 -7.20062400e-07  9.14800430e-08
 -4.82527549e-07  3.11327574e-07 -6.64759368e-07 -2.40994544e-07
  1.81983272e-07 -6.00375213e-07  2.57406652e-07 -4.69308228e-07
 -5.44123697e-07  2.92113184e-08 -6.60701714e-07  2.09553853e-07
  1.43147833e-07 -6.28595088e-07  2.78793075e-07  4.95783334e-07
 -1.45638111e-07  1.39780383e-07 -3.87855332e-07  2.00762006e-07
 -6.06671220e-07 -3.57549958e-08 -5.88015930e-08  1.46614495e-07
  3.39255477e-08 -9.20292333e-08  2.24107163e-07 -6.29580834e-07
  4.47302738e-08  9.52307949e-08 -1.95481793e-07  1.02353088e-07
 -2.71211222e-07  3.84528095e-07 -3.97150684e-07  4.40019922e-07
 -1.20807383e-07 -3.09736370e-07 -4.76988526e-07 -7.57906885e-09
 -1.95777957e-07 -2.71419984e-07  2.52709439e-07  5.99210934e-08
 -3.71413843e-07  2.98047922e-07  3.57635395e-07  9.08328233e-08
  1.04450525e-08 -4.04199881e-07  3.68013469e-07  3.89681912e-07
  3.15488935e-07 -3.50211535e-07 -1.57095018e-07  4.91881139e-07
 -4.21961488e-07 -6.36019224e-08 -4.03794847e-07  4.36502266e-07
  2.65738009e-07 -2.50630012e-07  2.50143719e-07 -1.37895830e-07
  2.02813610e-07 -3.47164859e-07  4.44821119e-07  2.70512050e-07
  1.32934641e-07 -1.46130484e-07  2.09991489e-07 -4.03896082e-07
  2.78385580e-07 -5.44334276e-07  2.63387566e-07 -1.75425365e-07
  5.76659810e-07 -3.26801145e-07 -2.87485592e-07  2.68905751e-07
 -6.60012267e-07  1.50247835e-07  3.52556797e-07 -4.85441622e-07
 -3.57549958e-08  3.89912124e-07  1.00051902e-08  1.18368994e-08
  2.21879016e-07 -5.36626235e-08 -4.99490382e-08 -1.16706655e-07
 -6.10433723e-07  4.56743725e-07 -7.48648825e-09 -7.20524050e-07
  1.32529192e-07 -1.98953776e-08  2.87629213e-08 -5.44123697e-07
  1.82221169e-07  9.11055565e-08  4.20323453e-07 -5.09287809e-07
  4.19162507e-07 -1.23390782e-07  3.03510008e-07  2.45131806e-07
  2.70940309e-07  2.71193157e-07  4.43409989e-07  2.77198685e-07
  1.66229791e-07 -7.20177830e-07  3.75576002e-07 -9.24563035e-07
 -4.20286577e-08  2.65622513e-07  6.23340604e-07  6.64249266e-07
 -1.45441260e-07  2.72075324e-07 -4.72541016e-07  2.43038762e-08
 -2.75536011e-08 -5.44123667e-07  5.15489481e-07 -6.07535903e-07
 -9.81888731e-08 -4.77091870e-07 -3.98138630e-07  2.63745609e-07
 -7.96113815e-09 -1.56448785e-07  3.58127917e-07 -8.36209342e-07
  9.21144969e-09  2.38361705e-07  3.59969068e-07  1.67155460e-07
  6.04491410e-07 -3.27002580e-07  3.78188820e-07 -3.10524672e-07
  4.94780677e-07 -5.44439628e-07  5.85301826e-07  3.78758070e-07
  2.92679908e-07  2.33232556e-07  7.22638235e-07  2.69214783e-07
  5.57448404e-07  6.63739324e-07 -6.29580873e-07  2.35668607e-07
 -4.33815714e-07 -1.13219668e-07  3.20455480e-07  3.10726440e-07
  2.09550842e-07  1.72559259e-07 -4.77505492e-07 -1.95434655e-08
 -8.40526589e-08 -7.29847861e-07  3.01158250e-07  5.57798353e-07
  1.13740705e-07  2.02983164e-07  5.78643969e-07  1.81515039e-08
  5.35958409e-07  9.49010024e-08  4.35096267e-07  6.93782267e-07
 -7.21101289e-07  1.73436233e-07  6.21195723e-07 -1.50311027e-08
  3.36518742e-07  3.09670646e-08  5.68849374e-07 -2.02727413e-07
 -1.90885931e-08 -4.28441937e-07  9.39386953e-07  7.00644294e-08
  3.28786144e-07 -2.41713575e-07  2.67065659e-07 -4.04503838e-07
  6.03484074e-08  4.85498675e-07 -4.77235977e-07 -3.27103287e-07
 -7.68594702e-08 -8.71819085e-08 -7.67552419e-08 -6.07535903e-07
  4.51799016e-07  2.78147320e-07 -2.32971909e-07  2.78885524e-07
 -3.98298332e-07 -2.10584654e-07  3.37928119e-07  1.52972253e-07
 -2.54419974e-07  5.14753657e-07 -3.58779468e-07  3.37928102e-07
  1.98055549e-07 -3.61960381e-07 -4.77195259e-07  2.20170204e-08
  5.16828674e-07  4.60005539e-08  2.32354133e-07  4.22184355e-08
  3.12765237e-07  1.01885200e-07  3.55936068e-07 -3.39457523e-07
 -5.65278172e-08  4.64436687e-07  4.05529335e-07  5.77843324e-07
 -4.17599997e-07 -2.41793440e-07  2.29546481e-07  5.77843324e-07
  2.11313796e-07  2.03380938e-07  2.81090786e-07 -1.49687430e-08
  5.78752715e-07  2.17986436e-07  4.57604067e-07 -8.95149183e-08
  5.77843324e-07 -2.56260252e-08  9.08328751e-08 -5.44544942e-07
 -1.16346242e-07  5.48907660e-07 -3.10666196e-07  3.18232461e-07
 -5.80617543e-07  3.55942444e-07 -1.56385970e-07  2.82074027e-07
  6.23985164e-07 -3.33483278e-07  6.70124964e-08  5.27763943e-07
 -1.47469408e-07  5.99258684e-08  1.33083261e-07 -8.41371791e-07
 -1.41039072e-07  5.00219267e-07  9.08328463e-08 -1.85635145e-07
 -1.66862294e-07 -8.37516317e-08  2.92195192e-07 -1.00548746e-07
 -8.92697888e-07  4.26941410e-07 -7.20524108e-07  4.41606598e-07
  5.77843324e-07  5.84415829e-08  2.75578085e-07 -5.11225842e-07
  2.10846494e-07 -1.46228994e-07  4.05598886e-07 -3.72194599e-08
  1.39676792e-07 -4.04199885e-07 -4.04402462e-07  2.10761448e-07
 -3.26901839e-07  2.41389024e-07 -1.38399675e-07  1.61129494e-07
  4.05807292e-07 -3.10138156e-07  3.94842807e-07 -5.52416663e-07
  5.77843328e-07  5.77843328e-07  2.23875154e-07 -7.92572142e-08
  3.08732329e-08  2.76194948e-07 -3.18474416e-07 -4.83892528e-07
  7.19801701e-08  5.22039570e-07 -2.23811661e-07  8.22083600e-08
  3.96459430e-07 -1.68668902e-07 -4.46725788e-07  2.78228131e-07
 -6.30898534e-08  2.84329372e-07 -2.08504777e-07 -7.68726924e-07
  3.77587353e-07  2.36448861e-07 -2.41593501e-07 -4.60849451e-07
  3.09670887e-08 -2.51448762e-07  2.03211896e-07  7.70699589e-08
  1.31553486e-07  2.11036392e-07 -6.42720332e-07 -1.29935408e-08
  7.88487642e-08 -6.09473317e-07 -3.34606460e-07 -5.54326637e-07
 -1.76692467e-07  5.01643269e-08 -1.36121946e-07 -8.52697218e-07
 -3.61397261e-08 -2.05200979e-07 -5.63658339e-08 -1.45539658e-07
 -1.00548681e-07  3.78043633e-07 -3.27002483e-07 -3.27002483e-07
  5.24540171e-07  1.83612538e-07  3.83988917e-07 -1.62145138e-08
  5.69289619e-07  1.81840893e-07 -7.00364986e-08  8.44173894e-07
  6.80481514e-08 -3.52861190e-07 -6.06995329e-07 -6.29909267e-07
  2.23141117e-07  5.35958442e-07  5.31243768e-07  4.71104027e-07
 -4.58305093e-07  3.90791158e-07  2.11016501e-07]

In [14]:
X_train.columns

Index(['year', 'km_driven', 'fuel_Diesel', 'fuel_Electric', 'fuel_LPG',
       'fuel_Petrol', 'seller_type_Individual', 'seller_type_Trustmark Dealer',
       'transmission_Manual', 'owner_Fourth & Above Owner',
       'owner_Second Owner', 'owner_Test Drive Car', 'owner_Third Owner'],
      dtype='object')

## Predicting the Test set results

In [16]:
y_pred = regressor.predict(X_test.values)

### Calculate RMSE, R-Square

In [17]:
from sklearn.metrics import mean_squared_error, r2_score
import math
print(f"r-square: {r2_score(y_test, y_pred): 0.2f}")
print(f"MSE: {mean_squared_error(y_test, y_pred): 0.2f}")
print(f"RMSE: {math.sqrt(mean_squared_error(y_test, y_pred)): 0.2f}")

r-square:  0.02
MSE:  292091679060.32
RMSE:  540455.07

## Validation case scenario:
#### 1. Predict how much will be the car selling price for a car of 
- year 2014 
- 70000 km driven 
- fuel type Diesel
- Seller type Dealer
- manual transmission
- first owner

** 465000 ** actual

In [18]:
X_test.head()

,year,km_driven,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
406,2012,80000,1,0,0,0,1,0,1,0,0,0,1
3027,2013,100000,1,0,0,0,1,0,1,0,0,0,0
2277,2016,30000,0,0,0,1,1,0,1,0,0,0,0
799,2017,7658,0,0,0,1,0,0,0,0,0,0,0
2738,2012,110000,0,0,0,1,1,0,1,0,1,0,0

In [23]:
regressor.predict([[2014,70000,1,0,0,0,0,1,1,0,0,1,0]])

array([300000])